<div class="container">
  <div class="card-container">
    <mat-card>
      <button class="edit-main-btn" type="button">
        <img src="assets/images/edit-main.svg" alt="" />
      </button>
      <div class="block-flags">
        <div class="flags-container"></div>
        <div class="main-img-block">
          <button class="edit" type="button">
            <img src="assets/images/Edit%20Button%20Circle.svg" alt="" />
          </button>
          <img class="main-img" src="assets/images/Ellipse%2076.svg" alt="" />
        </div>
      </div>
      <div class="block-info">
        <div class="upper-block">
          <h2>Cristifer Carder <br />Junior</h2>
          <img class="checked" src="assets/images/Vector.svg" alt="" />
        </div>
        <div class="mid-block">
          <div class="stars-block">
            <img src="assets/images/star.svg" alt="" />
            <img src="assets/images/star.svg" alt="" />
            <img src="assets/images/star.svg" alt="" />
            <img src="assets/images/star.svg" alt="" />
            <img src="assets/images/half-star.svg" alt="" />
          </div>
          <p class="reviews">234 reviews</p>
        </div>
        <div class="lower-block">
          <p>
            UI\UX Designer, Web Designer, Mobile App Designer, UI\UX Designer,
            Web Designer,Mobile App Designer
          </p>
          <div class="location-block">
            <img src="assets/images/location.svg" alt="" />
            <p>Lviv, Ukraine</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
